<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labs.okey.oneride">

    <!-- <permission -->
    <!-- android:name="com.labs.okey.oneride.permission.C2D_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->
    <!-- <uses-permission android:name="com.labs.okey.freeride.permission.C2D_MESSAGE" /> -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <!-- Needed if camera pictures are stored locally -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Needed for bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for Wi-Fi Direct, especially for restarting WiFi -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <!-- Receive SMS during registration -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required for Geofences -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8bTbjoDfSDLJnZsDaC6Wo8-1tOtGslbs" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5a821723d3ab62d280f61d868532442da4670037" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:priority="900" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerRoleActivity"
            android:label="@string/title_activity_passenger_role"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DriverRoleActivity"
            android:label="@string/title_activity_driver_role"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:noHistory="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial" />
        <activity
            android:name=".MyRidesActivity"
            android:label="@string/title_activity_my_rides"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RideDetailsActivity"
            android:label="@string/title_activity_ride_details" />
        <activity
            android:name=".AppealCameraActivity"
            android:label="@string/title_activity_camera_appeal" />
        <!-- <activity -->
        <!-- android:name=".CameraCVActivity" -->
        <!-- android:label="@string/title_activity_camera_cv" -->
        <!-- android:screenOrientation="landscape" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> -->


        <!-- <receiver android:name=".utils.sms.SMSReceiver" -->
        <!-- android:permission="android.permission.BROADCAST_SMS"> -->
        <!-- <intent-filter android:priority="999"> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.labs.okey.oneride" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AzureInstanceIDService"
            android:exported="false">
            <intent-filter>

                <!-- <action android:name="com.google.android.gms.iid.InstanceID"/> -->
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".AzureRegistrationIntentService"
            android:exported="false"></service>

        <activity
            android:name=".AdvSettingsActivity"
            android:label="@string/title_activity_adv_settings"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.labs.okey.oneride.SettingsActivity" />
        </activity>
        <activity
            android:name=".CameraCVActivity"
            android:label="@string/title_activity_camera_cv"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>